<div th:fragment="navbar">
    <nav class="navbar bg-dark fixed-top border-bottom border-bottom-dark navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Universidad QI</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="cursos">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/panel">Panel</a>
                    </li>
                </ul>
                <span class="navbar-text">
                    <div class="btn-group">
                        <a class="nav-link" th:href="@{/login}" id="btn_login"><button class="btn btn-dark">Login</button></a>
                        <button type="button" class="btn dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item nav-link" th:href="@{/logout}"><button class="btn btn-dark">Logout</button></a></li>
                        </ul>
                    </div>
                    <!-- <a class="nav-link" th:href="@{/login}" id="btn_login">Login</a> -->
                </span>
            </div>
        </div>


    </nav>
</div>


<div th:fragment="head">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/style.css}">
    <script type="text/javascript" th:src="@{js/index.js}"></script>
    <script src="https://kit.fontawesome.com/28cd6522e8.js" crossorigin="anonymous"></script>

</div>

<div th:fragment="head_panel">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/panel.css}">


    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="https://kit.fontawesome.com/28cd6522e8.js" crossorigin="anonymous"></script>
</div>


<div th:fragment="modal_login">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex m-lg-3">
                    <form th:action="@{/login}" method="POST">
                        <div class="form-group justify-content-center">
                            <label for="user">Ingrese su usuario</label><br>
                            <input type="text" name="username" id="user" class="form-control-lg mt-3"
                                placeholder="nombreUsuario" required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Ingrese su contraseña</label><br>
                            <input type="password" name="password" id="pass" class="form-control-lg mt-3"
                                placeholder="pepe123" required><br>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:fragment="modal_add_user">
    <div class="modal fade" id="addUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="addUser" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addUser">Agregar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex m-lg-3">
                    <form th:action="@{/panel/add_user}" method="POST">
                        <div class="form-group justify-content-center">
                            <label for="name">Nombre</label><br>
                            <input type="text" name="name" id="name" class="form-control mb-2" placeholder="Juan"
                                maxlength="20" required>
                        </div>
                        <div class="form-group justify-content-center">
                            <label for="lastname">Apellido</label><br>
                            <input type="text" name="lastname" id="lastname" class="form-control mb-2"
                                placeholder="Perez" maxlength="20" required>
                        </div>
                        <div class="form-group justify-content-center">
                            <label for="dni">DNI</label><br>
                            <input type="text" name="dni" id="dni" class="form-control mb-2" placeholder="36121212"
                                maxlength="8" required>
                        </div>
                        <br>
                        <div class="form-group justify-content-center">
                            <label for="role">Rol</label>
                            <select type="text" name="role" id="role" class="form-select mt-3" required>
                                <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group justify-content-center">
                            <label for="username">Usuario</label><br>
                            <input type="text" name="username" id="username" class="form-control mb-2"
                                placeholder="nombreUsuario" maxlength="15" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label><br>
                            <input type="text" name="password" id="password" class="form-control mb-2"
                                placeholder="pepe123" required><br>
                        </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/panel}" class="btn btn-secondary">Cerrar</a>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>
<div th:fragment="modal_edit_user">
    <div class="modal fade" id="editUser" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="editUser" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="editUser">Editar usuario</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex m-lg-3">
                    <form th:action="@{/panel/add_user}" method="POST" th:object="${user}" id="editForm">
                        <input type="text" th:field="*{id}" hidden>
                        <div class="form-group justify-content-center">
                            <label for="name">Nombre</label><br>
                            <input type="text" th:field="*{name}" th:text="*{name}" class="form-control mb-2"
                                placeholder="Juan" maxlength="20" required>
                        </div>
                        <div class="form-group justify-content-center">
                            <label for="lastname">Apellido</label><br>
                            <input type="text" th:field="*{lastname}" class="form-control mb-2" placeholder="Perez"
                                maxlength="20" required>
                        </div>
                        <div class="form-group justify-content-center">
                            <label for="dni">DNI</label><br>
                            <input type="text" th:field="*{dni}" class="form-control mb-2" placeholder="36121212"
                                maxlength="8" required>
                        </div>
                        <br>
                        <div class="form-group justify-content-center">
                            <label for="role">Rol</label>
                            <select type="text" th:field="*{role}" class="form-select mt-3" required>
                                <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                            </select>
                        </div>
                        <br>
                        <div class="form-group justify-content-center">
                            <label for="username">Usuario</label><br>
                            <input type="text" th:field="*{username}" class="form-control mb-2"
                                placeholder="nombreUsuario" required>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña</label><br>
                            <input type="text" th:field="*{password}" class="form-control mb-2" placeholder="pepe123"
                                required><br>
                        </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/panel}" class="btn btn-secondary">Cerrar</a>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div th:fragment="modal_add_course">
    <div class="modal fade" id="modal_course" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="modal_course" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content bg-light">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modal_course">Crear curso</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body flex m-lg-3">
                    <form th:action="@{/panel/add_curso}" method="POST" th:object="${course}" id="course_form">
                        <input type="text" th:field="*{id}" hidden>
                        <div class="form-group justify-content-center">
                            <label for="name">Nombre</label><br>
                            <input type="text" th:field="*{name}" th:text="*{name}" class="form-control mb-2"
                                placeholder="Curso de electronica" maxlength="20" required>
                        </div>
                        <div class="form-group">
                            <div class="input-group-addon" for="shift">Shift</div>
                            <select th:field="*{shift}" class="form-select mb-2" required>
                                <option th:each="shift : ${shifts}" th:value="${shift}" th:text="${shift}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group-addon" for="teacher">Docente</div>
                            <select th:field="*{teacher}" class="form-select mb-2">
                                <option value="">Sin docente asignado</option>
                                <option th:each="teacher : ${teachers}" th:value="${teacher.id}"
                                    th:text="${teacher.lastname}+' '+${teacher.name}"></option>
                            </select>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-success">Crear</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</div>




<div th:fragment="footer">
    <section>
        <footer>
            <p>Copyright &copy; 2023 Gonzalo Balderrama.</p>
        </footer>
    </section>
</div>