<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{/fragments/fragments.html :: head}"></div>
    <link rel="stylesheet" th:href="@{css/cursos.css}">
    <title>Cursos</title>
</head>

<body>
    <header>
        <div th:replace="~{/fragments/fragments.html :: navbar}"></div>
    </header>
    <div class="sample-header">
        <div class="sample-header-section">
            <h1>Universidad QI</h1>
            <h2>CRUD challenge to Java JR Developer </h2>
        </div>
    </div>
    <section class="sample-section-wrap">
        <div class="sample-section">

            <div id="content">
                <div class="container">
                    <!-- <div th:each="curso : ${cursos}"> -->
                        <div class="box" >
                            <div class="imgbox">
                            </div>
                            <div class="detail">

                                <h1>Curso 1</h1>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum saepe possimus vitae consequuntur error quo repudiandae laboriosam omnis sapiente enim inventore odit, vel nostrum ea quisquam asperiores ex praesentium vero?</p>
                            </div>
                        </div>
                    <!-- </div> -->
                    <div class="box">
                        <div class="imgbox">
                            <img src="../static/images/malbec.jpg" alt="" srcset=""> 
                        </div>
                        <div class="detail">

                            <h1>Curso 2</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum saepe possimus vitae consequuntur error quo repudiandae laboriosam omnis sapiente enim inventore odit, vel nostrum ea quisquam asperiores ex praesentium vero?</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgbox">
                            <img src="../static/images/malbec.jpg" alt="" srcset=""> 
                        </div>
                        <div class="detail">

                            <h1>Curso 3</h1>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum saepe possimus vitae consequuntur error quo repudiandae laboriosam omnis sapiente enim inventore odit, vel nostrum ea quisquam asperiores ex praesentium vero?</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div th:replace="~{fragments/fragments.html :: footer}">

    </div>
</body>

</html>