<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="/fragments/fragments.html :: head"></div>
    <link rel="stylesheet" th:href="@{css/cursos.css}">
    <title>Cursos</title>
</head>

<body>
    <header>
        <div th:replace="/fragments/fragments.html :: navbar"></div>
    </header>
    <div class="sample-header">
        <div class="sample-header-section">
            <h1>Universidad QI</h1>
            <h2>CRUD challenge to Java JR Developer </h2>
        </div>
    </div>
    <section class="sample-section-wrap">
        <div class="sample-section">

            <div id="content">
                <div class="container">
                    <div class="box">
                        <div class="imgbox">
                            <!-- <img src="../static/images/malbec.jpg" alt="" srcset=""> -->
                        </div>
                        <div class="detail">

                            <h1>Malbec</h1>
                            <p>Malbec es un acogedor y luminoso departamento, dónde podrás respirar un aire de sepa
                                mendocina
                                🍇, decorado
                                con rincones que te invitan a descorchar un rico vino🍷🍷, para compartir en pareja o
                                con amigos 👩‍👩‍👧👫.

                                Estadías inolvidables! Viví la experiencia de ser Nuestro huésped.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgbox">
                            <!-- <img src="../static/images/malbec.jpg" alt="" srcset=""> -->
                        </div>
                        <div class="detail">

                            <h1>Malbec</h1>
                            <p>Malbec es un acogedor y luminoso departamento, dónde podrás respirar un aire de sepa
                                mendocina
                                🍇, decorado
                                con rincones que te invitan a descorchar un rico vino🍷🍷, para compartir en pareja o
                                con
                                amigos👩‍👩‍👧👫.

                                Estadías inolvidables! Viví la experiencia de ser Nuestro huésped.</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="imgbox">
                            <!-- <img src="../static/images/malbec.jpg" alt="" srcset=""> -->
                        </div>
                        <div class="detail">

                            <h1>Malbec</h1>
                            <p>Malbec es un acogedor y luminoso departamento, dónde podrás respirar un aire de sepa
                                mendocina
                                🍇, decorado
                                con rincones que te invitan a descorchar un rico vino🍷🍷, para compartir en pareja o
                                con
                                amigos👩‍👩‍👧👫.

                                Estadías inolvidables! Viví la experiencia de ser Nuestro huésped.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div th:replace="fragments/fragments.html :: footer" >

</div>
</body>

</html>