<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="~{fragments/fragments.html :: head_panel}"></div>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}"></script>
    <link rel="stylesheet" type="text/css" href="css/jquery.dataTables.css" />
    <link rel="stylesheet" href="css/dataTables.tableTools.css">
    <script type="text/javascript" language="javascript" src="js/jquery.dataTables.js"></script>
    <script type="text/javascript" language="javascript" src="js/dataTables.tableTools.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"
        integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{css/panel.css}">
    <title>Panel de control</title>
</head>

<body>
    <header id="content">
        <div th:replace="~{fragments/fragments.html :: navbar}"></div>
    </header>
    <br>
    <div class="container mt-5">
        <section>
            <h1 class="text-center">Panel de profesor</h1>
            <p>Acá se veran una serie de herramientas para el usuario</p>
            <br>
            <button class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#addUser"
                id="add_user_btn">Agregar usuario</button>
            <div th:replace="~{fragments/fragments.html :: modal_add_user}"></div>
            <br>
            <h3>Cursos asignados</h3>
            <table class="table table-dark table-striped table-hover mt-3" id="cursos_asignados">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody th:each="curso : ${cursos_asignados}">
                    <tr>
                        <td th:text="${curso}"></td>
                        <td th:text="${curso}"></td>
                        <td><a th:href="@{/teacher/delete}+'?id='+${curso.id}" class="btn btn-danger"><i class="fa-regular fa-trash-can"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <p th:if="${cursos_asignados.isEmpty}">No hay usuarios para mostrar</p>
            <br>
            <h3>Cursos de la Universidad</h3>
            <table class="table table-dark table-striped table-hover mt-3" id="cursos_asignados">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Asignar</th>
                    </tr>
                </thead>
                <tbody th:each="curso : ${cursos}">
                    <tr>
                        <td th:text="${curso.id}"></td>
                        <td th:text="${curso.name}"></td>
                        <td><a th:href="@{/teacher/add_course}+'?id='+${curso.id}" class="btn btn-info"><i class="fa-solid fa-plus"></i></a></td>
                    </tr>
                </tbody>
            </table>
            <p th:if="${cursos.isEmpty}">No hay usuarios para mostrar</p>
            <br>

        </section>
        <section>
            
        </section>
    </div>

    <div th:replace="~{fragments/fragments.html :: footer}"></div>
</body>
<script>
    $(document).ready(function () {

        if (window.location.href.indexOf('?') > -1) {
            $('#editUser').modal('show');
        }

        let teacher = $('#select-teacher').selectize({
            sortField: 'text',
            maxItems: 1
        });
        $('#select-students').selectize({
            sortField: 'text',
            maxItems: null
        });

        // teacher.style.widht
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))

        $('#users').dataTable({
            "language": {
                "sSearch": "Buscar en la lista:",
                "lengthMenu": "Mostrar _MENU_ resultados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Sig.",
                    "previous": "Ant.",
                },
            },
            "bFilter": true,
            "bInfo": true,
            "bPaginate": true,
            "order": [
                [10, 25, 50, "asc"]
            ],
        });

    });
</script>

</html>